<h2>Por Región</h2>


<div class="row">
    <div class="col text-center">
        @for (region of regions; track $index) {
            <button type="button" [ngClass]="{'btn-outline-primary': selectedRegion === region }" class="btn  mx-2" (click)="searchByRegion(region)">{{region}}</button>
        }
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        @if(isLoading){
            <loading></loading>
        }
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>